*{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
h1{
    font-size: 46px;
    color:#27664f;
    font-weight: 700;
    font-style: normal;
}

footer{
    text-align: center;
    margin: 10px;
}